* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.tooltip {  
    position: fixed;
    z-index: 1;

    /* top: 0;
    left: 0; */

    border-radius: 3px;
    padding: 2px 4px;

    background-color: white;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);

    opacity: 0; // animated
    transition: opacity 0.25s linear;
    
    font-family: monospace;
}

.tooltip--visible {
    opacity: 0.5;
}